<h1>Edit Profile</h1>

<form method="post" action="/users/<%=@user.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch" />

  <label for="name">Profile:</label>
  <input type="text" id="profile" name="profile" value="<%=@user.profile%>" />
  <br/>
  <input type="submit" value="Submit Changes" />

</form>
