<h1>Edit Profile</h1>

<h2>Profile:
<div>
    <%= @user.profile %>
</div>
</h2>

<h2>Watches: 
    <div>
        <%= @user.watches.first.name %>
    </div>
</h2>

<h2>Add a new watch:</h2>

<h2>Collection total value: </h2>

<h3>Logout</h3>