<h1 class="no-margin">Welcome <%= current_user.username %></h1>

<h2>Profile:
<div>
    <%= @user.profile %>
</div>
</h2>

<!-- <h2>Watches: 
    <div>
        <%= @user.watches.first.name %>
    </div>
</h2> -->

<ul>
    <% @user.watches.each do |watch| %>
      <li><%= watch.name %> </a></li>
    <% end %>
  </ul>

<br>


<h2><a href="/watches/new.html"> Add a new watch: </a></h2>


<h2>Collection total value: </h2>


<h3><a href="/logout'">Logout</a></h3>