<h1>This is the index page for all watches.</h1>
<ul>
    <% @watches.each do |watch| %>
    <div>
      <li><a href="/watches/<%=watch.id%>"><%= watch.name %></a></li>
      <li>$<%= watch.price %> </a></li>
    </div>
    <% end %>
</ul>
