<h1>Available Watches for Purchase</h1>
<ul>
    <% @watches.each do |watch| %>
    <div>
      <li><b><a href="/watches/<%=watch.id%>"><%= watch.name %></a></b></li>
      <li><b>Listed Price: </b>$<%= watch.price %> </a></li>
      <br>
    </div>
    <% end %>
</ul>
