<%# <div class="container">
    <div class="row">
        <div class="col-md-4 col-xs=6">
            <img src="public/images/cat_banner.jpg" class="img-responsive">
        </div>
    </div>
</div> %>

<h1>Available Watches for Purchase</h1>
<ul>
    <% @watches.each do |watch| %>
    <div>
      <li><b><a href="/watches/<%=watch.id%>"><%= watch.name %></a></b></li>
      <li><b>Listed Price: </b>$<%= watch.price %> </a></li>
      <li><b>Total Offers: </b><%=@offers.all.where("watch_id = ?", watch.id).count%>
      <br>
      <br>
    </div>
    <% end %>
</ul>
