<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>


<h1>Create an Offer</h2>

<div class="container">
<form action="/watches/<%=@watch.id%>/offers" method="POST">
    <div class="form-group">
    <label for="sender_offer_price">Price:</label>
    <input type="text" name="watch[sender_offer_price]" id="sender_offer_price" class="form-control" required>
        <input type="submit" value="Submit Offer">
    </div>
</form>
</div>




