<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>


<h1>Create an Offer</h2>

<form action="/offers" method="POST">
  <%# <p>Offer: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="submit"> %>

<div>
    <label for="price">Price:</label>
    <input type="price" name="watch[sender_offer_price]" id="price" class="form-control" required>
    <input class="btn btn-primary" type="submit" value="submit"> %>

</div>

</form>