<h1>Create an Offer</h2>

<form action="/offer" method="POST">
  <p>Offer: <input type="text" name="content"></p>
  <input class="btn btn-primary" type="submit" value="submit">

<%# <div>
    <label for="price">Price:</label>
    <input type="price" name="watch[price]" id="price" class="form-control" required>
</div> %>

</form>