<div class="container">
<h1>Welcome to wisapp...</h1>
<p>The collecting & trading app for self-described "<em>Watch Idiot Savants</em>".</p>
<p>
<a href="http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=idiot+savant">Mirriam-Webster's Dictionary</a> defines ‘Idiot Savant’ as:<br>
Etymology: French, literally, learned idiot<br>
Date: 1927<br>
1 : a mentally defective person who exhibits exceptional skill or brilliance in some limited field<br>
2 : a person who is highly knowledgeable about one subject but knows little about anything else
</p>
<div>

